.skills {
    background-color: $yellow-color;
    margin-bottom: 50px;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
}

h4 {
    margin: 5px 10px;
}

.skill__item {
    padding: 10px 25px;
    margin: 5px;
    background-color: $white-color;
    color: $yellow-color;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;

    transition: 0.5s;

    &:hover {
        transform: scale(0.9);
    }
}

@media (max-width: 320px) { 
    .skill__item {
        font-size: 15px;
        padding: 5px 14px;
    }
}
